<section class="credentials">
  <!-- Header -->
  <header class="credentials-header">
    <h1>
      {{ getText(titulo) }}
    </h1>
    <p>
      {{ getText(about) }}
    </p>
  </header>

  <!-- Main Layout -->
  <section class="credentials-layout">
    <!-- Left Content -->
    <div class="credentials-content">
      <div class="section-title">
        <h2> {{ getText(educationTitle) }}</h2>
      </div>

      <div class="credentials-grid">
        @for (education of education; track education.id) {
          <mat-card appearance="outlined" class="credential-card">
            <mat-card-content>
              <div clas="credential-body">
                <h3>
                  {{ getText(education.title) }}
                </h3>
                <p class="credential-issuer">
                  {{ education.issuer }}
                </p>
                <!-- <span class="credential-date">
                  {{ education.issuedDate }}
                </span> -->
                <span>
                  @if (education.credentialUrl) {
                    <a
                      href="{{ education.credentialUrl }}"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="credential-link"
                    >
                      + Info
                    </a>
                  }
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </div>

      
      <div class="section-title">
        <h2>{{ getText(certificationTitle) }}</h2>
      </div>
      
      <div class="credentials-grid">
        @for (credential of credentials; track credential.id) {
          <mat-card appearance="outlined" class="credential-card">
            <mat-card-content>
              <div class="credential-header">
                @if (credential.logo) {
                  <img
                    [src]="credential.logo"
                    [alt]="credential.issuer"
                    class="credential-logo"
                  />
                } @else {
                  <mat-icon class="credential-icon">
                    {{ credential.icon }}
                  </mat-icon>
                }
              </div>

              <div clas="credential-body">
                <h3>
                  {{ getText(credential.title) }}
                </h3>
                <p class="credential-issuer">
                  {{ credential.issuer }}
                </p>
                <span class="credential-date">
                   {{ credential.issuedDate }}
                </span>
                <span>
                  @if (credential.credentialUrl) {
                    <a
                      href="{{ credential.credentialUrl }}"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="credential-link"
                    >
                      + View Credential
                    </a>
                  }
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </div>
      <div class="section-title">
        <h2>{{ getText(publicationTitle) }}</h2>
      </div>

      <div class="credentials-grid">
        @for (publication of publication; track publication.id) {
          <mat-card appearance="outlined" class="credential-card">
            <mat-card-content>
              <div clas="credential-body">
                <h3>
                  {{ getText(publication.title) }}
                </h3>
                <p class="credential-issuer">
                  {{ publication.issuer }}
                </p>
                <span class="credential-date">
                  Issued: {{ publication.issuedDate }}
                </span>
                <span>
                  @if (publication.credentialUrl) {
                    <a
                      href="{{ publication.credentialUrl }}"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="credential-link"
                    >
                      + Publication
                    </a>
                  }
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </div>
    </div>

    <!-- Sidebar -->
    <aside class="credentials-sidebar">
      <mat-card appearance="outlined" class="profile-card">
        <mat-card-content>
          <div class="profile-identity">
            <div class="profile-brand">
              <svg
                width="64"
                height="64"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="profile-logo"
              >
                <g transform="translate(2,2)">
                  <path
                    class="logo-layer layer-1"
                    d="M4 4 L14 4 L24 14 L24 24 L14 24 L4 14 Z"
                    fill="currentColor"
                    opacity="0.9"
                  />

                  <path
                    class="logo-layer layer-2"
                    d="M12 0 L22 0 L32 10 L32 20 L22 20 L12 10 Z"
                    fill="currentColor"
                    opacity="0.7"
                  />

                  <path
                    class="logo-layer layer-3"
                    d="M20 4 L30 4 L30 14 L20 14 Z"
                    fill="currentColor"
                    opacity="1"
                  />
                </g>
              </svg>

              <span class="profile-brand-name"> NNG </span>
            </div>

            <h3>
              {{ profile.name }}
            </h3>

            <span class="role">
              {{ getText(profile.role) }}
            </span>
          </div>
         

          <mat-divider></mat-divider>

          <div class="skills">
            <h4>Professional Focus</h4>

            <mat-chip-set>
              @for (skill of profile.skills; track skill) {
                <mat-chip>
                  {{ getText(skill) }}
                </mat-chip>
              }
            </mat-chip-set>
          </div>
        </mat-card-content>
      </mat-card>
    </aside>
  </section>
</section>
