/// seccion 
///<!-- Seccion de marcas -->
.brand-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.brand-button {
  border: none;
  background: transparent;
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
  color: #4b5563;
  
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.brand-icon {
  width: clamp(120px, 12vw, 200px);
  height: auto;
  will-change: transform;
    transition: 
    transform 0.2s ease,
    color 0.2s ease;
    
}

.brand-button:hover {
  color: #367c4d;
  transform: translateY(-2px);
}

.brand-button:hover .brand-icon {
  transform: scale(1.06);

  filter:
    drop-shadow(0 0 4px rgba(54, 124, 77, 0.25))
    drop-shadow(0 0 4px rgba(54, 124, 77, 0.20));
}

.brand-button:hover .layer1 {
  animation: illuminate 0.35s ease;
}

.brand-button:hover .layer2 {
  animation: illuminate 0.35s ease 0.10s;
}

.brand-button:hover .layer3 {
  animation: illuminate 0.35s ease 0.20s;
}

.brand-title {
  font-family: Inter, Roboto, sans-serif;
  font-size: clamp(1.15rem, 1.8vw, 1.75rem);
  font-weight: 800;
  letter-spacing: 0.35rem;
}

///Animacion de iluminacion de capas
@keyframes illuminate {
  0% {
    opacity: inherit;
    filter: brightness(1);
  }

  50% {
    opacity: 1;
    filter: brightness(1.8);
  }

  100% {
    opacity: 1;
    filter: brightness(1.4);
  }
}

//panel

.about-panel {
  width: min(650px, 90vw);

  max-height: 0;

  overflow: hidden;

  
  text-align: center;

  transition:
    max-height 650ms ease-out;
    
  margin-top: 0;
}

.about-panel.expanded {
  max-height: 300px;

  margin-top: 1rem;
}

.about-text {
  margin: 0;

  white-space: pre-line;

  line-height: 1.8;

  font-size: clamp(0.95rem, 1vw, 1.1rem);

  opacity: 0;

  transform: translateY(-8px);

  transition:
    opacity 700ms ease 150ms,
    transform 700ms ease 150ms;
}

.about-panel.expanded .about-text {
  opacity: 1;

  transform: translateY(0);
}

//Navegacion 

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3rem;

  gap: 1.25rem;
}

.nav-button {
  position: relative;

  text-decoration: none;

  cursor: pointer;


  color: #4b5563;

  font-family: Inter, Roboto, sans-serif;

  font-size: clamp(1rem, 1.2vw, 1.15rem);

  font-weight: 600;

  letter-spacing: 0.2rem;

  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.nav-button:hover {
  color: #367c4d;

  transform: translateY(-2px);
}

.nav-button:hover::after {
  width: 70%;
}

.nav-button::after {
  content: '';

  position: absolute;

  left: 50%;
  bottom: -6px;

  width: 0;
  height: 1px;

  background-color: #367c4d;

  transform: translateX(-50%);

  transition: width 250ms ease;
}